<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
   
    <title>CBD</title>
    <link rel="stylesheet" href="css/vapeo.css">
    <%- include('./partials/script-header') %>
        

</head>
<body>
     <%- include('./partials/header') %>
<%- include('header') -%>

    

    <article>
        <h2>Qué es el CBD</h2>
        <p></p>Here is a quote from the 
            cannabis.web.org website: "https://thecannabisweb.org/cbd/"</p>
        <p.cdb>El cannabidiol, o CBD, es el principal componente del cannabis. Está presente en la flor resinosa, suponiendo hasta el 45 % del extracto de la planta. El CBD forma parte de los algo más de 100 cannabinoides exclusivos de la planta del cannabis. Algunos otros que mencionamos en nuestra web son el CBN o cannabinol y el CBG o Cannabigerol.<br>
            Se trata de un compuesto natural no psicoactivo o psicotrópico, con un potencial terapéutico enorme. Los investigadores tratan de dilucidar sus propiedades y su capacidad para mejorar síntomas de diversas enfermedades, mejorando así la calidad de vida de los pacientes.
        </p>
    </article>
    <br>
    <br>

    <article>
        <h2>Para qué sirve el CBD</h2>
        <p.cbd>El aceite de cannabis rico en CBD se usa como complemento o suplemento alimenticio, remedio tópico o tratamiento farmacológico para el alivio del dolor crónico, la inflamación en enfermedades inflamatorias intestinales o cutáneas, la ansiedad, la depresión o la gravedad y frecuencia de las convulsiones en epilepsias refractarias.<br>
            Se emplea asimismo para tratar síntomas de enfermedades neurológicas o neuropsiquiátricas como la esclerosis múltiple, el alzhéimer, el párkinson o la esquizofrenia. Junto con el otro cannabinoide más estudiado, el THC, ha demostrado inducir la muerte de células cancerosas in vitro e in vivo en modelos animales, inhibiendo la progresión del tumor.
        </p>
    </article>
    <br>
    <br>

    <article>
        <h2>CBD y THC ¿Son lo mismo?</h2>
        <p.cbd>No el CBD y el THC no son lo mismo. El cannabis contiene más de 500 compuestos orgánicos, de los que al menos 113 son cannabinoides. Y entre estos cannabinoides destacan, por sus cualidades terapéuticas, el CBD y el THC. Este, el tetrahidrocannabinol, es el compuesto psicotrópico predominante en la planta, el responsable de la psicoactividad por la que el cannabis es conocido.<br>
            El CBD no tiene efectos psicoactivos; el THC, sí. Pero ambos poseen un valor terapéutico muy significativo, que se potencia cuando «trabajan» juntos; se produce un efecto sinérgico: el CBD potencia determinadas propiedades del THC, como las analgésicas o las anticancerígenas, al mismo tiempo que contrarresta su psicoactividad.<br>
        <br>
             CBD
                • No psicoactivo (no intoxica o droga). 
                • Sin efectos secundarios conocidos. 
                • Contrarresta la psicoactividad del THC. 
        <br>
                 THC
                • Psicoactivo (intoxicante, causa un estado de drogadicción). 
                • Efectos secundarios como taquicardia y ansiedad. 
        </p>
    </article>
    <br>
    <br>

    <article>
        <h2>Qué Beneficios aporta el CBD</h2>
        <p.cbd>Aún no conocemos todas las cualidades medicinales del CBD y queda mucho por investigar, si bien hasta el momento hay evidencia de propiedades:
            • analgésicas; 
            • antiinflamatorias; 
            • ansiolíticas; 
            • antitumorales; 
            • anticonvulsionantes; 
            • antipsicóticas, y 
            • neuroprotectoras. 
        Lo que le proporciona, según estudios clínicos, valor o potencial terapéutico para las siguientes patologías:
         
            • Dolor crónico. 
            • Fibromialgia. 
            • Enfermedades inflamatorias autoinmunes, como la artritis. 
            • Cáncer: tumores cerebrales (gliomas), de piel (melanoma y carcinoma cutáneos), de mama, de páncreas, de hígado y de próstata, entre otros; en el tratamiento paliativo, mejora síntomas de la quimioterapia como dolores físicos, náuseas, vómitos e insomnio. 
            • Ansiedad, estrés y depresión. 
            • Trastornos neurológicos: enfermedad de Alzheimer (EA), demencia, enfermedad de Parkinson (EP) y otros trastornos del movimiento, esclerosis múltiple, epilepsia refractaria o accidente cerebrovascular (ACV). 
            • Enfermedades neuropsiquiátricas: esquizofrenia, autismo, trastorno por déficit de atención con hiperactividad (TDAH), trastorno por estrés postraumático (TEPT) y alcoholismo. 
            • Síndrome metabólico: obesidad y diabetes. 
            • Desórdenes cardiovasculares. 
            • Enfermedades inflamatorias intestinales (EII): enfermedad de Crohn y colitis ulcerosa. 
            • Enfermedades inflamatorias crónicas de la piel: dermatitis, psoriasis y acné. 
        </p>
        <br>
        <br>
        <img src="/img/CBD/formula.jpg" alt="formula cbd" class="center">
        
    </article>
    <br>
    <br>

    <article>
        <h2>CBD: Contraindicaciones y efectos secundarios</h2>
        <p.cbd>El CBD interactúa con fármacos, pudiendo reducir o prolongar su actividad: desactiva o amplifica las enzimas del citocromo P450 (abreviado CYP), alterando el modo en que se metabolizan gran cantidad de compuestos y productos farmacéuticos.
            Consulta, pues, con tu médico si estás tomando algún medicamento. Y procede con cautela si tienes historial de enfermedades mentales, abuso de alcohol o drogas, o estás embarazada o en período de lactancia.
            Muchos aceites de cannabis para vaporizar (e-líquidos, o líquidos para cigarros electrónicos) contienen propilenglicol. Este aditivo químico, al sobrecalentarse, produce formaldehído, un subproducto carcinógeno.
            Otros posibles efectos secundarios son: sequedad bucal, debilidad, cansancio, cefalea y mareos.
        </p>
    </article>
    <br>
    <br>

    <article>
        <h2>¿Es seguro tomar CBD?</h2>
        <p.cbd>El CBD es una sustancia segura, sin efectos psicoactivos.
            No obstante, ten en cuenta su interacción con medicamentos y las recomendaciones indicadas en el punto anterior.
        </p>
    </article>
    <br>
    <br>

    <article>
        <h2>Cuándo tomar CBD</h2>
        <p.cbd>El CBD ayuda a aliviar y tratar los síntomas agudos y crónicos en:
            • cáncer; 
            • ansiedad y depresión; 
            • psicosis, espasmos y desórdenes convulsivos; 
            • dolor neuropático; 
            • autismo, y 
            • desórdenes autoinmunes e inflamatorios. 
        </p>
    </article>
    <br>
    <br>

    <article>
        <h2>Qué formatos existen para el consumo de CBD</h2>
        <p.cbd>Estos son los principales productos derivados del cannabis, con cannabidiol, que podemos encontrar en el mercado:<br>
            <br>
            <br>
            <b>Aceites hechos de CBD</b><br>

            Puede tomarse por vía oral en cápsulas o cápsulas de gel, por vía sublingual en aerosol o aplicarse de manera tópica mediante cremas y similares.
            <br>
            <br>
            Por ejemplo este al 5% de Sensiseeds, este al 10% de Medileaf o este al 15% de Sensiseeds son dos ejemplos de aceites enriquecidos con CBD.
            <br>
            <br>
            <b>Suplementos de CBD</b>
            <br>
            Pastillas, cápsulas y cápsulas de gel, tinturas (los ingredientes activos del cannabis se disuelven en alcohol u otro solvente), etc.<br>
            <br>
            Su efecto, dosis y duración son similares a los de los comestibles. Aquí tienes dos ejemplos: cápsulas de gel 15% (1.500mg) de Sensiseeds y este otro 20% (2.000mg) de Cibdol.
            <br>
            <br>
            <b>Cremas de CBD</b><br>
            Pomadas, bálsamos, lociones o ungüentos con extractos de cannabis para aplicación tópica como por ejemplo estas de Medileaf. Remedio efectivo para condiciones de dolor, inflamación, infección y afección de la piel.<br>
            <br>
            Cremas específicas de CBD para deportistas: esta Sport Hot Cream 1000mg de Medileaf o esta otra para enfriar Sport Cold Cream 1000mg.
            <br>
            <br>
            <b>Alimentos con CBD</b><br>
            Comestibles (alimentos o aperitivos cocinados con aceite de cannabis, mantequilla o ghee, mantequilla clarificada) y bebidas como tés o jugos. 
            <br>
            <br>
            También pueden adquirirse variedades de flores de cannabis ricas en CBD para fumar o inhalar mediante vaporización.<br>
            <br>
            El inicio y la duración de los efectos dependerán del formato o método de administración: la inhalación resulta preferible para tratar síntomas agudos, pues el efecto se siente en apenas unos minutos y dura unas 2 horas; el efecto del aceite de cannabis rico en CBD administrado por vía oral tarda entre 30 y 90 minutos en aparecer pero perdura de 4 a 6 horas, siendo adecuado para tratar condiciones crónicas.
        </p>
    </article>
    <br>
    <br>

    <article>
        <h2>Evidencias médicas actuales del uso del CBD en enfermedades</h2>
        <p.cbd>Son muchos los estudios clínicos que evidencian los principios activos y beneficios del cannabidiol o que tratan de revelar nuevas propiedades medicinales —curativas o paliativas— de los cannabinoides en enfermedades.
            En la presente guía reunimos un buen número de ellos. Ver Bibliografía sobre CBD (punto 17), así como la bibliografía consultada para elaborar este contenido.
        </p>
    </article>
    <br>
    <br>

    <article>
        <h2>¿Cómo de efectivo es el CBD según la patología?</h2>
        <p.cbd>La efectividad del CBD ha sido probada en ensayos clínicos, mostrando potencial medicinal en muchas y muy diversas patologías: dolor crónico, fibromialgia, enfermedades inflamatorias autoinmunes, intestinales y cutáneas, cáncer, ansiedad, estrés y depresión, trastornos neurológicos y neurosiquiátricos, síndrome metabólico y desórdenes cardiovasculares.
            Ver ¿Qué beneficios aporta el CBD? (punto 4)
        </p>
    </article>
    <br>
    <br>

    <article>
        <h2>¿Cómo se extrae el CBD del Cannabis?</h2>
        <p.cbd>Existen varios procedimientos para extraer el aceite rico en CBD de la planta del cannabis. Los métodos que emplean solventes neurotóxicos como butano (BHO), propano, hexano u otros hidrocarburos pueden dejar residuos inseguros que interfieren con la función inmune, impidiendo la curación.<br> 
            <br>
            Los siguientes se consideran procedimientos de extracción seguros:<br>
            <br>
            <b>Extracción con CO2 supercrítico o subcrítico. </b>Emplea dióxido de carbono a temperatura muy baja y presión alta. El producto final es potente, aunque el método requiere experiencia y unos equipos costosos.
            <br>
            <br>
            <b>Extracción con etanol.</b>Emplea etanol (grado alimenticio), un solvente seguro, y equipos caseros. Por contra, se destruyen las ceras vegetales que pueden promover beneficios en la salud<br>
            <br>
            <b>Extracción con aceite de oliva. </b>Se evita por completo la exposición a solventes orgánicos. Es un método de bajo costo pero el producto obtenido es perecedero, debiendo almacenarse en lugar fresco y oscuro.
        </p>
    </article>
    <br>
    <br>

    <article>
        <h2>¿Cómo se interpretan las concentraciones de CBD?</h2>
        <p.cbd>Las concentraciones de CBD y THC se expresan mediante el llamado ratio CBD:THC.<br>
            <br>Ejemplos:<br>
            <br>1.1 Las cantidades de ambos componentes están equilibradas o balanceadas.<br>
            <br>10:1 (relación entre CBD y THC de 10 a 1) Remedio dominante o rico en CBD con poco THC
            La proporción de cada componente influirá en los efectos terapéuticos. 
        </p>
        <br>
        <br>
        <img src="/img/CBD/semillas.jpg" alt="semillas cbd" class="center">
    </article>
    <br>
    <br>

    <article>
        <h2>¿Cómo se dosifica el CBD?</h2>
        <p.cbd>La proporción «perfecta» dependerá de tu tolerancia a los efectos psicoactivos del THC —dado que los dos componentes funcionan mejor unidos, el objetivo es hallar tu dosis óptima de remedio rico en CBD con tanto THC como puedas tolerar—, de los síntomas que desees tratar y de la hora del día.<br>
            <br>
            Comienza por una dosis baja; toma pequeñas cantidades a lo largo del día. Observa los efectos y ajusta la proporción si es necesario hasta encontrar la combinación de CBD y THC más adecuada para ti, optimizando así su uso terapéutico.<br>
            <br>
            <br>
            En general:<br>
                • Para ansiedad, depresión, espasmos, psicosis o desórdenes convulsivos, es efectiva una dosis moderada de remedio<br>   
                   dominante en CBD con poco THC (más de 10 a 1). <br>
                • Para cáncer, enfermedades neurológicas, autismo y otras muchas dolencias, un ratio equilibrado de CBD a THC. <br>
                • Para el dolor neuropático, la investigación clínica ha demostrado que un ratio 1:1 resulta eficaz. <br>
        </p>
    </article>
    <br>
    <br>

    <article>
        <h2>Los alimentos y productos de CBD, ¿son seguros?</h2>
        <p.cbd>Para asegurarnos de que lo sean, escoge aquellos cuyo aceite rico en CBD haya sido extraído mediante métodos seguros, como CO2 supercrítico, etanol o aceite de oliva. Evita los extraídos con solventes tóxicos. Ver ¿Cómo se extrae el CBD del cannabis? (punto 11).<br>
            <br>
            Compra siempre alimentos y productos con etiquetas que muestren claramente la cantidad y ratio de CBD y THC por dosis. Que incluyan además ingredientes de calidad, sin jarabe de maíz, grasas trans, organismos genéticamente modificados (OGM), aditivos artificiales ni agentes diluyentes o preservantes. Y que hayan sido testados y verificados como libres de bacterias u hongos, pesticidas, residuos de solventes y otros contaminantes.
        </p>
    </article>
    <br>
    <br>

    <article>
        <h2>Dónde comprar CBD o sus derivados</h2>
        <p.cbd>Existen fórmulas derivadas del cannabis con cannabidiol comercializadas por la industria farmacéutica en varios países, entre ellos España, como medicamentos para el tratamiento de la epilepsia o la esclerosis múltiple:<br>
            <br>
            <b>Epidiolex®,</b> una formulación con extracto de CBD prácticamente puro para formas infrecuentes de epilepsia (síndrome Lennox-Gastaut y síndrome de Dravet; se estudia su eficacia en el síndrome de Sturge-Weber), que se aplica como un aerosol sublingual.<br>
            <br>
            <b>Sativex®,</b> un extracto farmacéutico de cannabis con CBD y THC (proporción 1:1) comercializado como aerosol bucal para tratar el dolor y la espasticidad en la esclerosis múltiple.<br>
            <br>
            Por su parte, la industria cosmética tiene en el mercado cremas y bálsamos con contenido en CBD medicinal para aplicación tópica. Estos y otros productos derivados del cannabis ricos en cannabidiol en formas no fumables, como aceite de CBD, suplementos y alimentos, pueden adquirirse a través de internet, producidos en países como Holanda o Suiza.
        </p>
    </article>
    <br>
    <br>

    <article>
        <h2>¿Cuáles son las mejores marcas de productos de CBD?</h2>
        <p.cbd>Estas marcas venden o distribuyen productos derivados del cannabis con cannabidiol:<br>
            <br>
            Justbob<br>
            (Aceites, kits, cogollos, etc.)<br>
            <br>
            Medileaf<br>
            (Aceites, cremas, mascotas, etc.)<br>
            <br>
            Cibdol<br>
            (Aceite, cremas y suplementos de CBD)<br>
            <br>
            Harmony<br>
            (Aceites, gominolas, cremas, cápsulas, etc.)<br>
            <br>
            Sensi Seeds<br>
            (Aceite, cápsulas y e-líquido)<br>
            <br>
            myCBD<br>
            (Aceites, cremas e infusiones de CBD)<br>
            <br>
            Endoca<br>
            (Cápsulas, aceite, cremas y bálsamos, extracto, comestibles, supositorios y cristales de CBD)<br>
            <br>
            Annabis<br>
            (Parafarmacia; productos cosméticos y complementos alimenticios)<br>
            <br>
            Enecta<br>
            (Aceite, e-líquidos, bálsamos y aceite para mascotas de CBD)<br>
            <br>
            Sativida<br>
            (Aceites y crema antiinflamatoria de CBD)<br>
            <br>
            CannabiGold<br>
            (Aceite y cápsulas de CBD)<br>
        </p>
    </article>
    <br>
    <br>

    <article>
        <h2>¿Dónde puedo leer más sobre el CBD?</h2>
        <p.cbd>El cannabis, nombre científico Cannabis sativa, es una de las plantas más antiguas cultivadas por el ser humano y con más historia de uso terapéutico. Pese a asociarse popularmente a la región del Caribe, hoy y gracias a investigaciones palinológicas y arquelógicas, sabemos que su origen es asiático.<br>
            <br>
            Desde Asia, C. sativa migra alrededor del mundo. En Europa, su cultivo era ya común en época de los imperios griego y romano, para su utilización como fibra textil, alimento o aceite medicinal. Puedes leer más o ampliar información sobre la historia del Cannabis y el CBD, sus efectos, principios activos y beneficios, en los siguientes portales digitales o páginas web:<br>
            <br>   
            • Fundación CANNA: investigación científica y análisis de Cannabis: https://www.fundacion-canna.es/. <br>
            <br>    
            • International Cannabinoid Research Society (ICRS) (Sociedad Internacional de Investigación sobre Cannabinoides): http://icrs.co/. <br>
            <br>    
            • Project CBD es un servicio de información y noticias sobre Cannabis y CBD; su portal en español es https://www.projectcbd.org/es. <br>
            <br>    
            • Society of Cannabis Clinicians (SCC) (Sociedad de Clínicos de Cannabis): https://www.cannabisclinicians.org/. <br>
            <br>    
            • Wo/Men’s Alliance for Medical Marijuana (WAMM) (Alianza de Mujeres y Hombres para la Marihuana Medicinal: https://wamm.org/. <br>
            <br>
            En la web del Centro Nacional para la Información Biotecnológica (NCBI, por sus siglas en inglés), puedes consultar los estudios y ensayos clínicos publicados sobre Cannabis y CBD:<br>
            https://www.ncbi.nlm.nih.gov/pmc/?term=cannabis+and+CBD.<br>
        </p>
    </article>
    <br>
    <br>

    <article>
        <h2>Bibliografía sobre el CBD</h2>
        <p.cbd>Abrams, D. I., Couey, P., Shade, S. B., Kelly, M. E., y Benowitz, N. L. (2011).
            <br> 
            <br>
            Cannabinoid–opioid interaction in chronic pain. Clinical Pharmacology & Therapeutics, 90(6), 844-851.
            <br>
            <br>
            Abrams, D. I., Jay, C. A., Shade, S. B., Vizoso, H., Reda, H., Press, S., y Petersen, K. L. (2007).
            <br>
            <br>
            Cannabis in painful HIV-associated sensory neuropathy: a randomized placebo-controlled trial. Neurology, 68(7), 515-521.
            <br>
            <br>
            Aizpurua-Olaizola, O., Soydaner, U., Öztürk, E., Schibano, D., Simsir, Y., Navarro, P., y Usobiaga, A. (2016). Evolution of the cannabinoid and terpene content during the growth of Cannabis sativa plants from different chemotypes. Journal of natural products, 79(2), 324-331.
            <br>
            <br>
            Bedse, G., Romano, A., Lavecchia, A. M., Cassano, T., y Gaetani, S. (2015). The role of endocannabinoid signaling in the molecular mechanisms of neurodegeneration in Alzheimer’s disease. Journal of Alzheimer’s Disease, 43(4), 1115-1136.
            <br>
            <br>
            Benito, C., Núñez, E., Pazos, M. R., Tolón, R. M., y Romero, J. (2007). The endocannabinoid system and Alzheimer’s disease. Molecular neurobiology, 36(1), 75-81.
            <br>
            <br>
            Blázquez, C., Casanova, M. L., Planas, A., del Pulgar, T. G., Villanueva, C., Fernández-Aceñero, M. J., y Guzmán, M. (2003). Inhibition of tumor angiogenesis by cannabinoids. The FASEB Journal, 17(3), 529-531.
            <br>
            <br>
            Blázquez, C., González-Feria, L., Alvarez, L., Haro, A., Casanova, M. L., y Guzmán, M. (2004). Cannabinoids inhibit the vascular endothelial growth factor pathway in gliomas. Cancer research, 64(16), 5617-5623.
            <br>
            <br>
            Blázquez, C., Salazar, M., Carracedo, A., Lorente, M., Egia, A., González-Feria, L., y Guzmán, M. (2008). Cannabinoids inhibit glioma cell invasion by down-regulating matrix metalloproteinase-2 expression. Cancer research, 68(6), 1945-1952.
            <br>
            <br>
            Cao, C., Li, Y., Liu, H., Bai, G., Mayl, J., Lin, X., y Cai, J. (2014). The potential therapeutic effects of THC on Alzheimer’s disease. Journal of Alzheimer’s Disease, 42(3), 973-984.
            <br>
            <br>
            Chagas, M. H. N., Zuardi, A. W., Tumas, V., Pena-Pereira, M. A., Sobreira, E. T., Bergamaschi, M. M., y Crippa, J. A. S. (2014). Effects of cannabidiol in the treatment of patients with Parkinson’s disease: an exploratory double-blind trial. Journal of Psychopharmacology, 28(11), 1088-1098.
            <br>
            <br>
            Coetzee, C., Levendal, R. A., Van de Venter, M., y Frost, C. L. (2007). Anticoagulant effects of a Cannabis extract in an obese rat model. Phytomedicine, 14(5), 333-337.
            <br>
            <br>
            Corey-Bloom, J., Wolfson, T., Gamst, A., Jin, S., Marcotte, T. D., Bentley, H., y Gouaux, B. (2012). Smoked cannabis for spasticity in multiple sclerosis: a randomized, placebo-controlled trial. Cmaj, 184(10), 1143-1150.
            <br>
            <br>
            Durst, R., y Lotan, C. (2011). The potential for clinical use of cannabinoids in treatment of cardiovascular diseases. Cardiovascular therapeutics, 29(1), 17-22.
            <br>
            <br>
            Ellis, R. J., Toperoff, W., Vaida, F., Van Den Brande, G., Gonzales, J., Gouaux, B., y Atkinson, J. H. (2009). Smoked medicinal cannabis for neuropathic pain in HIV: a randomized, crossover clinical trial. Neuropsychopharmacology, 34(3), 672.
            <br>
            <br>
            Esposito, G., Scuderi, C., Savani, C., Steardo Jr, L., De Filippis, D., Cottone, P., y Steardo, L. (2007). Cannabidiol in vivo blunts β‐amyloid induced neuroinflammation by suppressing IL‐1β and iNOS expression. British journal of pharmacology, 151(8), 1272-1279.
            <br>
            <br>
            Ferrer, I. (2014). Cannabinoids for treatment of Alzheimer’s disease: moving toward the clinic. Frontiers in pharmacology, 5, 37.
            <br>
            <br>
            Fiz, J., Durán, M., Capellà, D., Carbonell, J., y Farré, M. (2011). Cannabis use in patients with fibromyalgia: effect on symptoms relief and health-related quality of life. PloS one, 6(4), e18440.
            <br>
            <br>
            Fleming, M. P., y Clarke, R. C. (1998). Physical evidence for the antiquity of Cannabis sativa L. J Int Hemp Assoc, 5, 280-293.
            <br>
            <br>
            Galve-Roperh, I., Sánchez, C., Cortés, M. L., del Pulgar, T. G., Izquierdo, M., y Guzmán, M. (2000). Anti-tumoral action of cannabinoids: involvement of sustained ceramide accumulation and extracellular signal-regulated kinase activation. Nature medicine, 6(3), 313.
            <br>
            <br>
            Hernández-Tiedra, S., Fabrias, G., Dávila, D., Salanueva, I. J., Casas, J., Montes, L. R., y Nylandsted, J. (2016). Dihydroceramide accumulation mediates cytotoxic autophagy of cancer cells via autolysosome destabilization. Autophagy, 12(11), 2213-2229.
            <br>
            <br>
            Izzo, A. A. (2004). Cannabinoids and intestinal motility: welcome to CB2 receptors. British journal of pharmacology, 142(8), 1201-1202.
            <br>
            <br>
            Jensen, R. P., Luo, W., Pankow, J. F., Strongin, R. M., y Peyton, D. H. (2015). Hidden formaldehyde in e-cigarette aerosols. New England Journal of Medicine, 372(4), 392-394.
            <br>
            <br>
            Jiang, R., Yamaori, S., Takeda, S., Yamamoto, I., y Watanabe, K. (2011). Identification of cytochrome P450 enzymes responsible for metabolism of cannabidiol by human liver microsomes. Life sciences, 89(5-6), 165-170.
            <br>
            <br>
            Kaplan, E. H., Offermann, E. A., Sievers, J. W., y Comi, A. M. (2017). Cannabidiol treatment for refractory seizures in Sturge-Weber syndrome. Pediatric neurology, 71, 18-23.
            <br>
            <br>
            Le Foll, B., Trigo, J. M., Sharkey, K. A., y Le Strat, Y. (2013). Cannabis and Δ9-tetrahydrocannabinol (THC) for weight loss? Medical hypotheses, 80(5), 564-567.
            <br>
            <br>
            Malfait, A. M., Gallily, R., Sumariwalla, P. F., Malik, A. S., Andreakos, E., Mechoulam, R., y Feldmann, M. (2000). The nonpsychoactive cannabis constituent cannabidiol is an oral anti-arthritic therapeutic in murine collagen-induced arthritis. Proceedings of the National Academy of Sciences, 97(17), 9561-9566.
            <br>
            <br>
            Feldmann, M. (2000). The nonpsychoactive cannabis constituent cannabidiol is an oral anti-arthritic therapeutic in murine collagen-induced arthritis. Proceedings of the National Academy of Sciences, 97(17), 9561-9566.
            <br>
            <br>
            Marquéz, L., Suárez, J., Iglesias, M., Bermudez-Silva, F. J., de Fonseca, F. R., y Andreu, M. (2009). Ulcerative colitis induces changes on the expression of the endocannabinoid system in the human colonic tissue. PLoS One, 4(9), e6893.
            <br>
            <br>
            Massa, F., Marsicano, G., Hermann, H., Cannich, A., Monory, K., Cravatt, B. F., y Lutz, B. (2004). The endogenous cannabinoid system protects against colonic inflammation. The Journal of clinical investigation, 113(8), 1202-1209.
            <br>
            <br>
            McAllister, S. D., Christian, R. T., Horowitz, M. P., Garcia, A., y Desprez, P. Y. (2007). Cannabidiol as a novel inhibitor of Id-1 gene expression in aggressive breast cancer cells. Molecular cancer therapeutics, 6(11), 2921-2927.
            <br>
            <br>
            Mechoulam, R., Peters, M., Murillo‐Rodriguez, E., y Hanuš, L. O. (2007). Cannabidiol–recent advances. Chemistry & biodiversity, 4(8), 1678-1692.
            <br>
            <br>
            Morgan, C. J., y Curran, H. V. (2008). Effects of cannabidiol on schizophrenia-like symptoms in people who use cannabis. The British Journal of Psychiatry, 192(4), 306-307.
            <br>
            <br>
            Munson, A. E., Harris, L. S., Friedman, M. A., Dewey, W. L., y Carchman, R. A. (1975). Antineoplastic activity of cannabinoids. Journal of the National Cancer Institute, 55(3), 597-602.
            <br>
            <br>
            Müller-Vahl, K. R., Kolbe, H., Schneider, U., y Emrich, H. M. (1999). Cannabis in movement disorders. Complementary Medicine Research, 6(Suppl. 3), 23-27.
            <br>
            <br>
            Naftali, T., Lev, L. B., Yablecovitch, D., Half, E., y Konikoff, F. M. (2011). Treatment of Crohn’s disease with cannabis: an observational study. The Israel Medical Association journal: IMAJ, 13(8), 455-458.
            <br>
            <br>
            Nam, G., Jeong, S. K., Park, B. M., Lee, S. H., Kim, H. J., Hong, S. P., y Kim, B. W. (2016). Selective cannabinoid receptor-1 agonists regulate mast cell activation in an oxazolone-induced atopic dermatitis model. Annals of dermatology, 28(1), 22-29.
            <br>
            <br>
            Noonan, J., Tanveer, R., Klompas, A., Gowran, A., McKiernan, J., y Campbell, V. A. (2010). Endocannabinoids prevent β-amyloid-mediated lysosomal destabilization in cultured neurons. Journal of Biological Chemistry, 285(49), 38543-38554.
            <br>
            <br>
            Oreja-Guevara, C. (2012). Treatment of spasticity in multiple sclerosis: new perspectives regarding the use of cannabinoids. Revista de neurologia, 55(7), 421-430.
            <br>
            <br>
            Patti, F. (2016). Health authorities data collection of THC: CBD oromucosal spray (L’agenzia italiana del farmaco web registry): figures after 1.5 years. European neurology, 75(Suppl. 1), 9-12.
            <br>
            <br>
            Press, C. A., Knupp, K. G., y Chapman, K. E. (2015). Parental reporting of response to oral cannabis extracts for treatment of refractory epilepsy. Epilepsy & Behavior, 45, 49-52.
            <br>
            <br>
            Ramírez, B. G., Blázquez, C., del Pulgar, T. G., Guzmán, M., y de Ceballos, M. L. (2005). Prevention of Alzheimer’s disease pathology by cannabinoids: neuroprotection mediated by blockade of microglial activation. Journal of Neuroscience, 25(8), 1904-1913.
            <br>
            <br> 
            Resstel, L. B., Tavares, R. F., Lisboa, S. F., Joca, S. R., Corrêa, F. M., y Guimarães, F. S. (2009). 5‐HT1A receptors are involved in the cannabidiol‐induced attenuation of behavioural and cardiovascular responses to acute restraint stress in rats. British journal of pharmacology, 156(1), 181-188.
            <br>
            <br>
            Salazar, M., Carracedo, A., Salanueva, Í. J., Hernández-Tiedra, S., Lorente, M., Egia, A., y Nowak, J. (2009). Cannabinoid action induces autophagy-mediated cell death through stimulation of ER stress in human glioma cells. The Journal of clinical investigation, 119(5), 1359-1372.
            <br>
            <br>
            Scott, K. A., Dalgleish, A. G., y Liu, W. M. (2014). The combination of cannabidiol and Δ9-tetrahydrocannabinol enhances the anticancer effects of radiation in an orthotopic murine glioma model. Molecular cancer therapeutics, 13(12), 2955-2967.
            <br>
            <br>
            Shelef, A., Barak, Y., Berger, U., Paleacu, D., Tadger, S., Plopsky, I., y Baruch, Y. (2016). Safety and efficacy of medical cannabis oil for behavioral and psychological symptoms of dementia: an-open label, add-on, pilot study. Journal of Alzheimer’s disease, 51(1), 15-19.
            <br>
            <br>
            Silvestro, S., Mammana, S., Cavalli, E., Bramanti, P., y Mazzon, E. (2019). Use of Cannabidiol in the Treatment of Epilepsy: Efficacy and Security in Clinical Trials. Molecules, 24(8), 1459.
            <br>
            <br>
            Skrabek, R. Q., Galimova, L., Ethans, K., y Perry, D. (2008). Nabilone for the treatment of pain in fibromyalgia. The Journal of Pain, 9(2), 164-173.
            <br>
            <br>
            Steenkamp, M. M., Blessing, E. M., Galatzer‐Levy, I. R., Hollahan, L. C., y Anderson, W. T. (2017). Marijuana and other cannabinoids as a treatment for posttraumatic stress disorder: a literature review. Depression and anxiety, 34(3), 207-216.
            <br>
            <br>
            Ste‐Marie, P. A., Fitzcharles, M. A., Gamsa, A., Ware, M. A., y Shir, Y. (2012). Association of herbal cannabis use with negative psychosocial parameters in patients with fibromyalgia. Arthritis care & research, 64(8), 1202-1208.
            <br>
            <br>
            Torres, S., Lorente, M., Rodríguez-Fornés, F., Hernández-Tiedra, S., Salazar, M., García-Taboada, E., y Velasco, G. (2011). A combined preclinical therapy of cannabinoids and temozolomide against glioma. Molecular cancer therapeutics, 10(1), 90-103.
            <br>
            <br>
            Velasco, G., Hernández-Tiedra, S., Dávila, D., y Lorente, M. (2016). The use of cannabinoids as anticancer agents. Progress in neuro-psychopharmacology and biological psychiatry, 64, 259-266.
            <br>
            <br>
            Velasco, G., Sánchez, C., y Guzmán, M. (2012). Towards the use of cannabinoids as antitumour agents. Nature Reviews Cancer, 12(6), 436.
            <br>
            <br>
            Wallace, M., Schulteis, G., Atkinson, J. H., Wolfson, T., Lazzaretto, D., Bentley, H., y Abramson, I. (2007). Dose-dependent effects of smoked cannabis on capsaicin-induced pain and hyperalgesia in healthy volunteers. Anesthesiology: The Journal of the American Society of Anesthesiologists, 107(5), 785-796.
            <br>
            <br>
            Wallace, M. S., Marcotte, T. D., Umlauf, A., Gouaux, B., y Atkinson, J. H. (2015). Efficacy of inhaled cannabis on painful diabetic neuropathy. The Journal of Pain, 16(7), 616-627.
            <br>
            <br>
            Weiss, L., Zeira, M., Reich, S., Har-Noy, M., Mechoulam, R., Slavin, S., y Gallily, R. (2006). Cannabidiol lowers incidence of diabetes in non-obese diabetic mice. Autoimmunity, 39(2), 143-151.
            <br>
            <br>
            Wilkinson, J. D., y Williamson, E. M. (2007). Cannabinoids inhibit human keratinocyte proliferation through a non-CB1/CB2 mechanism and have a potential therapeutic value in the treatment of psoriasis. Journal of dermatological science, 45(2), 87-92.
            <br>
            <br>
            Wilsey, B., Marcotte, T., Deutsch, R., Gouaux, B., Sakai, S., y Donaghe, H. (2013). Low-dose vaporized cannabis significantly improves neuropathic pain. The Journal of Pain, 14(2), 136-148.
            <br>
            <br>
            Wilsey, B., Marcotte, T., Tsodikov, A., Millman, J., Bentley, H., Gouaux, B., y Fishman, S. (2008). A randomized, placebo-controlled, crossover trial of cannabis cigarettes in neuropathic pain. The Journal of Pain, 9(6), 506-521.
            <br>
            <br>
            Wright, K., Rooney, N., Feeney, M., Tate, J., Robertson, D., Welham, M., y Ward, S. (2005). Differential expression of cannabinoid receptors in the human colon: cannabinoids promote epithelial wound healing. Gastroenterology, 129(2), 437-453.
            <br>
            <br>
            Yamaori, S., Kinugasa, Y., Jiang, R., Takeda, S., Yamamoto, I., y Watanabe, K. (2015). Cannabidiol induces expression of human cytochrome P450 1A1 that is possibly mediated through aryl hydrocarbon receptor signaling in HepG2 cells. Life sciences, 136, 87-93.
            <br>
            <br>
            Zajicek, J. P., y Apostu, V. I. (2011). Role of cannabinoids in multiple sclerosis. CNS drugs, 25(3), 187-201.
            <br>
            <br>
            Zuardi, A. W., Crippa, J. A. D. S., Hallak, J. E. C., Moreira, F. A., y Guimarães, F. S. (2006). Cannabidiol, a Cannabis sativa constituent, as an antipsychotic drug. Brazilian Journal of Medical and Biological Research, 39(4), 421-429.
        </p>
    </article>
    <br>
    <br>


    <%- include('./partials/footer') %>
    <%- include('./partials/menu') %>  
</body>
</html>