
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7a57e2dd08.js" crossorigin="anonymous"></script>

        <title>MXVapes</title>
 
 <link rel="stylesheet" href="/css/styleLogin.css">
      <%- include('./partials/script-header') %>
    </head>
    <body class="fondo"> 


  <%- include('./partials/header') %>
<%- include('header') -%>
    <div class="panel-body">
  <form action="/products/crear" method="post" class="formulario" enctype="multipart/form-data">
    

    <h1 class="formularios-t">Crear producto</h1>
  
    <div class="input-contenedor-product-name">
        <input type="text" name="nombre" placeholder="Nombre del Producto" class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.name : null %>" />
        <% if (locals.errors && errors.name) { %>
            <div class="text-danger">
                <%= errors.name.msg %> 
            </div>
        <% } %>
    </div>
        <div>
            <label for="">Categoria</label>
            <select name="categoria">
                	
              <% for(let i = 0; i < categorias.length; i ++){ %>
                <option value="<%=categorias[i].id%>">
                    <%=categorias[i].productCat%>
                </option>
            <% } %>
            </select>
            <input type="hidden" placeholder="Categoria" class="form-control <%= locals.errors && errors.category ? 'is-invalid' : null %>"> 
                <% if (locals.errors && errors.category) { %>
                    <div class="text-danger">
                        <%= errors.category.msg %>
                    </div>
                <% } %>
        </div>
        <div class="input-contenedor">

            <input type="text" name="descripcion" placeholder="Descripcion" class="form-control <%= locals.errors && errors.description ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.description : null %>">
            <% if (locals.errors && errors.description) { %>
                <div class="text-danger">
                    <%= errors.description.msg %>    
                </div>
            <% } %>
            </div>
            <div class="input-contenedor-price">
   
                <input type="text" name="precio" placeholder="Precio" class="form-control <%= locals.errors && errors.price ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.price : null %>">
                    <% if (locals.errors && errors.price) { %>
                        <div class="text-danger">
                            <%= errors.price.msg %>    
                        </div>
                    <% } %>
                    </div>
                    <div class="input-contenedor-descuento">
                        <input type="text" name="descuento" placeholder="Descuento" class="form-control <%= locals.errors && errors.discount? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.discount : null %>">
                        <% if (locals.errors && errors.discount) { %>
                            <div class="text-danger">
                                <%= errors.discount.msg %>    
                            </div>
                        <% } %>
                        </div>

        <div class="input-contenedor">
            <label for="imagen" class="form-label">Sube una imagen del producto </label>
            <input type="file" name="image" id="image" class="form-control <%= locals.errors && errors.image ? 'is-invalid' : null %>"> </i>
            <% if (locals.errors && errors.image) { %>
                <div class="text-danger">
                    <%= errors.image.msg %>
                    
                </div>
            <% } %>
        </div>

        <button class="boton" type="submit">Crear</button>

    </form><br>

    



  <%- include('./partials/footer') %>


<%- include('./partials/menu') %>

</body>
</html>
