
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7a57e2dd08.js" crossorigin="anonymous"></script>

        <title>MXVapes</title>
 
 <link rel="stylesheet" href="/css/styleLogin.css">
      <%- include('./partials/script-header') %>
    </head>
    <body class="fondo"> 


  <%- include('./partials/header') %>
<%- include('header') -%>
    <div class="panel-body">
  <form action="/products/crear" method="post" class="formulario">

    <h1 class="formularios-t">Crear producto</h1>
  
        <div>
            <label for="">Nombre del producto</label>
            <input type="text" name="nombre">
        </div>
        <div>
            <label for="">Categoria</label>
            <select name="categoria">
                <% for(let i = 0; i < categorias.length; i ++){ %>
                <option value="<%=categorias[i].id%>">
                    <%=categorias[i].productCat%>
                </option>
            <% } %>
            </select>
        </div>
        <div>
            <label for="">Descripción</label>
            <input type="text" name="descripcion">
        </div>
        <div>
            <label for="">Precio</label>
            <input type="text" name="precio" placeholder="$$$">
        </div>
        <div>
            <label for="">Descuento</label>
            <input type="text" name="descuento">
        </div>
        <button class="boton" type="submit">Crear</button>

    </form><br>

    



  <%- include('./partials/footer') %>


<%- include('./partials/menu') %>

</body>
</html>
