 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7a57e2dd08.js" crossorigin="anonymous"></script>

        <title>MXVapes</title>
    <link rel="stylesheet" href="/css/styles-productDetail.css">
      <%- include('./partials/script-header') %>
    </head>

<body> 

   

 <%- include('./partials/header') %>

<%- include('header') -%>
   <main>



 <div class="center-column">

  <img src="/img/productos/<%=producto.image%>" alt="imagen de producto">
 </div>

<div class="right-column">
<p class="nombre-producto"><%=producto.product_name%></p>
   <p><span class="title-p">Categoría:</span> <%=producto.categoria.productCat%></p>
        <p><span class="title-p">Descripción:</span> <%=producto.product_description%></p>
	  <p><span class="title-p">Precio:</span> $<%=producto.price%></p>
    <p><span class="title-p">Descuento:</span> <%=producto.discount%>%</p>


    
   
    <% if (locals.userLogged && locals.userLogged.user_type == 2) {%>
        
    <button class="boton detalle btn-d" >
        <a href="/products/editar/<%= producto.id %>">
        Editar</a>
    </button>

<form action="/products/borrar/<%=producto.id%>" method="POST" >
    <button class="boton detalle btn-d" type="submit">Borrar</button>
</form>

<% } else { %>

  <button class="boton detalle btn-d" >
        <a href="#"></a>
        Agregar al carrito</a>
    </button>
    <div style="clear:both"></div>
</div>

<% } %>
  

  </main>

<%- include('./partials/footer') %>
<%- include('./partials/menu') %>


    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="/js/script.js" charset="utf-8"></script>
</body>
</html>