<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7a57e2dd08.js" crossorigin="anonymous"></script>

        <title>Login MXVapes</title>
 <link rel="stylesheet" href="/css/styleLogin.css">
      <%- include('./partials/script-header') %>



    </head>
    <body class="fondo"> 


<%- include('./partials/header') %>

        <form method="POST" action="/users/login" class="formulario">
            <h1>Iniciar sesión</h1>
            <div>
              <img src="../img/LogReg/user.png" class="img"/>
            </div>
            <div class="contenedor">
                    <div class="input-contenedor">
                        
                        <input type="text" placeholder="Correo electrónico" name="email" class="txt"><i class="fas fa-user"></i>
                        <% if (locals.errors && errors.email) { %>
                          <div class="text-danger">
                            <%= errors.email.msg %>
                          </div>
                        <% } %>
                    </div>

                    <div class="input-contenedor">
                        
                        <input type="password" placeholder="Contraseña" name="password" class="txt"> <i class="fas fa-key"></i>
                    </div>
                
                <label class="form-check-label"><input type="checkbox" class="form-check-input" name="recuerdame">Recordar mis usuario</label>
                <input class="button" type="submit" value="Iniciar sesión" />
                <p>¿Olvidaste tu <a class="link" href="#">contraseña</a>?</p> 
            </div>   
        </form>

        <form class="formulario2">
          <p>¿No posees una cuenta? <a class="link" href="/users/register">Crea una</a></p>
          <p>o inicia sesión con</p>
          <p class="iconos">
            <a href="#"><i class="fab fa-google"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </p>
          </form>

            <%- include('./partials/footer') %>
            <%- include('./partials/menu') %>
    </body>
</html>