<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/7a57e2dd08.js"
      crossorigin="anonymous"
    ></script>

    <title>Products Edit</title>
    <link rel="stylesheet" href="/css/styleLogin.css" />
    <%- include('./partials/script-header') %>
  </head>
  <body class="fondo">
    <%- include('./partials/header') %>

    <form
      action="/products/edit/<%= productToEdit.id %>?_method=PUT"
      method="POST"
      enctype="multipart/form-data"
      class="formulario edicion"
    >
      <h1>Edición productos<br /><br /></h1>

      <div class="contenedor">
        <div class="input-contenedor">
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Nombre"
            class="form-input"
            value="<%=productToEdit.name %>"
          />
        </div>

        <div class="input-contenedor">
          <label>Categoría</label>
          <select name="category" id="categoria">
            <option value="Accesorios">Accesorios</option>
            <option value="CBD">CBD</option>
            <option value="E-juice">E-juice</option>
            <option value="Kits">Kits</option>
            <option value="Nic-Salts">Nic Salts</option>
            <option value="Pods">Pods</option>
            
           
          </select>
        </div>

        <div class="input-contenedor">
        <textarea placeholder="Descripción" name="description">
        <%= productToEdit.description %></textarea
          >
        </div>

        <div class="input-contenedor">
          <input
            type="text"
            placeholder="Precio"
            name="price"
            class="txt"
            value="<%= productToEdit.price %>"
          />
        </div>

        <div class="input-contenedor">
          <input
            type="text"
            placeholder="Descuento"
            name="discount"
            class="txt"
            value="<%= productToEdit.discount %>"
          />
        </div>

        <div class="input-contenedor-image">
          <label for="image" class="form-label">Cambia tu Imagen de producto </label>
          <input type="file" name="image" id="file" class="form-control <%= locals.errors && errors.image ? 'is-invalid' : null %>"> </i>
          <% if (locals.errors && errors.image) { %>
              <div class="text-danger">
                  <%= errors.image.msg %>
                  
              </div>
          <% } %>
      </div>   
       
      <input type="submit" value="Editar producto" />
      </div>
      <br />
      <br />
      <br />
    </form>
    

    <%- include('./partials/footer') %> <%- include('./partials/menu') %>
  </body>
</html>
