<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MXVApes</title>
      <%- include('./partials/script-header') %>
</head>
<body>






  <%- include('./partials/header') %>



  <main>
    <div class="lista-productos">

	<%for(const product of products) {%>
<div class="producto-m">
	    <a href="/products/<%=product.id%>"><img src="/img/productos/<%=product.imagenes%>" alt="imagen de producto"></a>
<p><span class="title-p">Categoría:</span> <%=product.categoriaProducto%></p>
<p><span class="descripcion-p">Descripción </span><br><hr> <%=product.descripcion%></p>
	  <p><span class="title-p">Precio:</span> <%=product.precio%></p>
    <p><span class="title-p">Descuento:</span> <%=product.discount%></p>
</div>
	<%}%>

  
</div>

  </main>

  <%- include('./partials/footer') %>


<%- include('./partials/menu') %>





</body>
</html>