<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MXVApes</title>
      <%- include('./partials/script-header') %>
</head>
<body>






  <%- include('./partials/header') %>



  <main>
    <div class="accesorios">
<div class="accesorio">
	<%for(const product of products) {%>

	    <a href="/products/<%=product.id%>"><img src="/img/productos/<%=product.imagenes%>" alt="imagen de producto"></a>
<p>Categoría:<%=product.categoriaProducto%></p>
<p>Descripción<%=product.descripcion%></p>
	  <p>Precio:<%=product.precio%></p>
    <p>Descuento:<%=product.discount%></p>

	<%}%>

  </div>
</div>

  </main>

  <%- include('./partials/footer') %>


<%- include('./partials/menu') %>





</body>
</html>