<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxe S Kit</title>
    <link rel="stylesheet" href="/css/styles-productDetail.css">
    <%- include('./partials/script-header') %>
    
</head>
<body>


  <%- include('./partials/header') %>


    <main class="container">

      <!-- left Column / Vape Image -->
   <!-- <div class="left-column">
      <img src="/img/productDetail/Luxe-S-Black.jpg" alt="Luxe-S-Black">
      <img src="/img/productDetail/Luxe-S-Silver.jpg" alt="Luxe-S-Silver">
      <img src="/img/productDetail/Luxe-S-Red.jpg" alt="Luxe-S-Red">
      <img src="/img/productDetail/Luxe-S-Bronze.jpg" alt="Luxe-S-Bronze">
      <img src="/img/productDetail/Luxe-S-Kit.jpg" alt="Luxe-S-Kit">
    </div>-->
 
    <!-- Center Column / Vape Image -->
    <div class="center-column">

<img src="/img/productos/<%=product.image%>" alt="imagen de producto">

     <!-- <img data-image="black" src="/img/productDetail/Luxe-S-Black.jpg" alt="Luxe-S-Black">
      <img data-image="silver" src="/img/productDetail/Luxe-S-Silver.jpg" alt="Luxe-S-Silver">
      <img data-image="red" src="/img/productDetail/Luxe-S-Red.jpg" alt="Luxe-S-Red">
      <img data-image="bronze" src="/img/productDetail/Luxe-S-Bronze.jpg" alt="Luxe-S-Bronze">
      <img data-image="kit" class="active" src="/img/productDetail/Luxe-S-Kit.jpg" alt="Luxe-S-Kit">-->
 
    
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
   <p><span class="title-p">Categoría:</span> <%=product.categoriaProducto%></p>
<p><span class="descripcion-p">Descripción</span> <%=product.descripcion%></p>
	  <p><span class="title-p">Precio:</span> <%= toThousand (product.precio)%></p>
    <p><span class="title-p">Descuento: </span><%=product.discount%></p>
      <!-- Product Description -->

      <!--
      <div class="product-description">
        <span>Vape Kits</span>
        <h1>Luxe-S-Kit</h1>
        <p>LUXE-S 220W Starter Kit con SKRR-S Tank 8ml es la nueva versión de LUXE. El mod de caja de LUXE-S es alimentado por baterías de alta velocidad dual y soporta 220 vatios. El mod utiliza una puerta de batería magnética intercambiable, lo que facilita el reemplazo de la batería.</p>
      </div>-->
   
      <!-- Product Configuration -->
      <!-- <div class="product-configuration">-->
   
        <!-- Product Color -->
        <!-- <div class="product-color">
          <span>Color</span>
   
          <div class="color-choose">
            <div>
                <input data-image="black" type="radio" id="black" name="color" value="black">
                <label for="black"><span></span></label>
            <div>
                <input data-image="silver" type="radio" id="silver" name="color" value="silver">
                <label for="silver"><span></span></label>
              </div>
            <div>
              <input data-image="red" type="radio" id="red" name="color" value="red" checked>
              <label for="red"><span></span></label>
            </div>
            <div>
              <input data-image="bronze" type="radio" id="bronze" name="color" value="bronze">
              <label for="bronze"><span></span></label>
            </div>
            <div>
                <input data-image="kit" type="radio" id="kit" name="color" value="kit">
                <label for="kit"><span></span></label>
            </div>
          </div>
   
        </div>-->
   
        <!-- kit Configuration -->
        <!-- <div class="kit-config">
          <span>Accesorios</span>
   
          <div class="kit-choose">
            <button>Atomizador</button>
            <button>Resistencia</button>
            <button>Baterias</button>
          </div>
   
          <a href="#">Configura tu vape</a>
        </div>
      </div>-->

      <!-- Product Pricing -->
       <!--<div class="product-price">
        <span>$999</span>
        <div class="quantity-choose">
          <input class="quantity" min="0" name="quantity" value="1" type="number">
          <p></p>
        </div>
      </div>
          
          <div class="product-quantity">
            <span>Cantidad</span>
          </div>-->
      
          <div class="cart-btn">
            <a href="/productCart">Añadir al carrito</a>
          </div>
      
  

          <div class="cart-btn">
            <a href="edit/<%=product.id%>">Editar producto</a>
          </div>
          
          <div class="cart-btn">
            <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
              <button type="submit">ELIMINAR</button>
          </div>
      
    </div>

  </main>

<%- include('./partials/footer') %>
<%- include('./partials/menu') %>


    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="/js/script.js" charset="utf-8"></script>
</body>
</html>

