<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/7a57e2dd08.js"
      crossorigin="anonymous"
    ></script>

    <title>Products Edit</title>
    <link rel="stylesheet" href="/css/styleLogin.css" />
    <%- include('./partials/script-header') %>
  </head>
  <body class="fondo">
    <%- include('./partials/header') %>

    <form
      action="/products/edit/<%= productToEdit.id %>?_method=PUT"
      method="POST"
      enctype="multipart/form-data"
      class="formulario edicion"
    >
      <h1>Edición productos<br /><br /></h1>

      <div class="contenedor">
        <div class="input-contenedor">
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Nombre"
            class="form-input"
            value="<%=productToEdit.name %>"
          />
        </div>

        <div class="input-contenedor">
          <label for="imagen" class="form-label">Cambia la imagen</label>
          <input type="file" name="imagenes" id="file" />
        </div>

        <div class="input-contenedor">
          <label>Categoría</label>
          <select name="categoriaProducto" id="categoria">
            <option value="Accesorios">Accesorios</option>
            <option value="CBD">CBD</option>
            <option value="E-juice">E-juice</option>
            <option value="Kits">Kits</option>
            <option value="Nic-Salts">Nic Salts</option>
            <option value="Pods">Pods</option>
            
           
          </select>
        </div>

        <div class="input-contenedor">
          <textarea placeholder="Descripción" name="descripcion">
<%= productToEdit.descripcion %></textarea
          >
        </div>

        <div class="input-contenedor">
          <input
            type="text"
            placeholder="Precio"
            name="precio"
            class="txt"
            value="<%= productToEdit.precio %>"
          />
        </div>

        <div class="input-contenedor">
          <input
            type="text"
            placeholder="Descuento"
            name="discount"
            class="txt"
            value="<%= productToEdit.discount %>"
          />
        </div>

        <input type="submit" value="Editar producto" />
      </div>
    </form>
    <br /><br />

    <%- include('./partials/footer') %> <%- include('./partials/menu') %>
  </body>
</html>
