

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7a57e2dd08.js" crossorigin="anonymous"></script>

        <title>MXVapes</title>
 
 <link rel="stylesheet" href="/css/styleRegistro.css">
      <%- include('./partials/script-header') %>
    </head>
    <body class="fondo"> 
        
  <%- include('./partials/header') %>
        <%- include('header') -%>

<body>
    <form method="POST" action="/users/register" class="formulario" enctype="multipart/form-data">
        <div class="form-signin">
            <div class="title">
         
                <p>
                <h1 class="formularios-t">Regístrate </h1>
                </p>
            </div>
    
            <div class="input-contenedor-userName">
                <input type="text" name="userName" placeholder="Nombre(s)" class="form-control" >
            </div>
            
            <div class="input-contenedor-lastName">
                <input name="lastName" placeholder="Apellido(s)" type="text" class="form-control" > <i class="fas fa-user"></i>
            </div>
           
            <div>
                <input name="email" placeholder="Email" type="text" class="form-control">
            </div>

            <div class="input-contenedor-user_type">
                <label for="user_type">Tipo de usuario</label>
                <select name="user_type">
                    <option value="">Selecciona una opción</option>
                    <% for(let i = 0; i < tipoUsuario.length; i ++){ %>
                    <option value="<%=tipoUsuario[i].id%>">
                        <%=tipoUsuario[i].utype%>
                    </option>
                <% } %>
                </select>
            </div>

            <div class="input-contenedor-user_pass">
                <input name="user_pass"  placeholder="Contraseña"  type="password" class="form-control" >
            </div>
            
            <div class="input-contenedor-confirm_pass">
                <input name="confirm_pass"  placeholder="Confirmar contraseña"  type="password" class="form-control"> <i class="fas fa-key"></i>
            </div>
            
            <div class="input-contenedor-address">
                <input name="address"  placeholder="Direccion de envio" type="text" class="form-control"> <i class="fas fa-map-marked-alt"></i>
            </div>
            
            <div class="input-contenedor">
                <label for="imagen" class="form-label">Sube tu imagen de usuario </label>
                <input type="file" name="image" id="image" class="form-control <%= locals.errors && errors.image ? 'is-invalid' : null %>"> </i>
                <% if (locals.errors && errors.image) { %>
                    <div class="text-danger">
                        <%= errors.image.msg %>
                        
                    </div>
                <% } %>
            </div>

    
            <div>
                <button class="boton" type="submit">
                    Registrar usuario
                </button>
            </div>
    </form>
    
  </div>

</body>

<br>

  <%- include('./partials/footer') %>


<%- include('./partials/menu') %>

</body>
</html>
