<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="/css/styleRegistro.css">

        <script src="https://kit.fontawesome.com/7a57e2dd08.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
  

 
        <link rel="stylesheet" href="/css/styleRegistro.css">
        <%- include('./partials/script-header') %>
                      
                      
<title>Registro MXVapes</title>
</head>
<body class="fondo">



<%- include('./partials/header') %>



        <form action="/users/register" method="POST" enctype="multipart/form-data" class="formulario edicion">
            <h1>Registrate</h1>
            
            
            <div class="input-contenedor-firstName">
                       
                    <input type="text" name="firstName" id="name" placeholder="Nombre(s)" class="form-control <%= locals.errors && errors.firstName ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.firstName : null %>" />
                        <div id="nameE" hidden>texto</div>
                            <% if (locals.errors && errors.firstName) { %>
                            <div class="text-danger">
                                <%= errors.firstName.msg %> 
                            </div>
                        <% } %>
                    </div>
            
            <div class="input-contenedor-lastName">

                    <input type="text" id="lastname"name="lastName" placeholder="Apellido(s)" class="form-control <%= locals.errors && errors.lastName ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.fullName : null %>"> <i class="fas fa-user"></i>
                        <div id="lNameE" hidden>texto</div>    
                        <% if (locals.errors && errors.lastName) { %>
                            <div class="text-danger">
                                <%= errors.lastName.msg %> 
                            </div>
                        <% } %>
                    </div>

            <div class="input-contenedor">
 
                    <input type="text" id="email" name="email" placeholder="Correo Electronico" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.email : null %>"><i class="fas fa-envelope"></i>
                    <div id="emailE" hidden>texto</div>     
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </div>

            <div class="input-contenedor-password">
                        
                        <input type="password" id="password" name="password" placeholder="Contraseña" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                        <div id="passwordE" hidden>texto</div>
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                    </div>

            <div class="input-contenedor-confirm">
                        
                        <input type="password" id="cPassword" name="confirmPassword" placeholder="Confirmar Contraseña" class="form-control <%= locals.errors && errors.confirmPassword ? 'is-invalid' : null %>"> <i class="fas fa-key"></i>
                        <div id="cPasswordE"hidden >texto</div>
                        <% if (locals.errors && errors.confirmPassword) { %>
                            <div class="text-danger">
                                <%= errors.confirmPassword.msg %>
                            </div>
                        <% } %>
                    </div>
                    
            <div class="input-contenedor-usuario">
                       
                <label for="user_type" class="form-label">Tipo de Usuario </label>
                <select name="user_type" id="user_type" class="form-control">
                    <option value="">Selecciona una opción</option>
                    <option value="1">Cliente</option>
                    <option value="2">Vendedor</option>
                    <option value="2">Administrador</option>
                </select>
                <div id="cPasswordE" hidden >texto</div>
                <input type="hidden" name="user_type" placeholder="Tipo de usuario" class="form-control <%= locals.errors && errors.user_type ? 'is-invalid' : null %>"> <i class="fas fa-user"></i>
                <div id="user_typeE" hidden>texto</div>        
                <% if (locals.errors && errors.user_type) { %>
                            <div class="text-danger">
                                <%= errors.user_type.msg %>
                            </div>
                        <% } %>
                        <br>
                    </div>
                

            <div class="input-contenedor">

                        <input type="text" id="address" name="address" placeholder="Dirección" class="form-control <%= locals.errors && errors.address ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.address : null %>"> <i class="fas fa-map-marked-alt"></i>
                        <div id="addressE" hidden>texto</div>   
                        <% if (locals.errors && errors.address) { %>
                            <div class="text-danger">
                                <%= errors.address.msg %>
                            </div>
                        <% } %>
                    </div>
 
            <div class="input-contenedor">
                            <label for="imagen" class="form-label" >Sube tu imagen de usuario </label>
                            <input type="file" name="image" id="file" class="form-control <%= locals.errors && errors.image ? 'is-invalid' : null %>"> </i>
                            <div id="fileE" hidden>texto</div>
                            <% if (locals.errors && errors.image) { %>
                                <div class="text-danger">
                                    <%= errors.image.msg %>
                                    
                                </div>
                            <% } %>
                        </div>

            <div class="contenedor">
                        <input class="button" type="submit" value="Registrar" />
                            <p class="terminos"><input class="ck" type="checkbox" name="checkbox"<%= locals.errors && errors.checkbox ? 'is-invalid' : null %>">Acepto los <a class="link" href="#">Términos y condiciones de uso</a></p>
                            <% if (locals.errors && errors.checkbox) { %>
                                <div class="text-danger">
                                    <%= errors.checkbox.msg %>
                                </div>
                            <% } %>
                        </div>

                <p>¿Ya tienes cuenta? <a class="link" href="/login">Inicia sesión</a></p>
            </div>
        </form>

      <%- include('./partials/footer') %>
      <%- include('./partials/menu') %>

    </body>
    <script src="/js/registerUserFrontVal.js"></script>
</html>