

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7a57e2dd08.js" crossorigin="anonymous"></script>

        <title>MXVapes</title>
 
 <link rel="stylesheet" href="/css/styleLogin.css">
      <%- include('./partials/script-header') %>
    </head>
    <body class="fondo"> 
        
  <%- include('./partials/header') %>
        <%- include('header') -%>

<body>
    <form method="POST" action="/users/register" class="formulario">
        <div class="form-signin">
            <div class="title">
         
                <p>
                <h1 class="formularios-t">Regístrate </h1>
                </p>
            </div>
    
            <div>
                <input name="name" placeholder="Username" type="text" required="required">
            </div>
            <div>
                <input name="lastName" placeholder="apellido" type="text" required="required">
            </div>
            <div>
                <input name="email" placeholder="Email" type="text" required="required">
            </div>
            <div>
                <label for="">Tipo de usuario</label>
                <select name="userType">
                    <% for(let i = 0; i < tipoUsuario.length; i ++){ %>
                    <option value="<%=tipoUsuario[i].id%>">
                        <%=tipoUsuario[i].utype%>
                    </option>
                <% } %>
                </select>
            </div>
            <div>
                <input name="password"  placeholder="Password"  type="password" required="required">
            </div>
            <div >
                <input name="address"  placeholder="tu direccion completa" type="text"
                    required="required">
            </div>
    
            <div>
                <button class="boton" type="submit">
                    Registrar usuario
                </button>
            </div>
    </form>
    
  </div>

</body>

<br>

  <%- include('./partials/footer') %>


<%- include('./partials/menu') %>

</body>
</html>
