

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7a57e2dd08.js" crossorigin="anonymous"></script>

        <title>MXVapes</title>
 
 <link rel="stylesheet" href="/css/styleRegistro.css">
      <%- include('./partials/script-header') %>
    </head>
    <body class="fondo"> 
        
  <%- include('./partials/header') %>
        <%- include('header') -%>

<body>
    <form method="POST" action="/users/register" class="formulario" enctype="multipart/form-data">
        <div class="form-signin">
            <div class="title">
         
                <p>
                <h1 class="formularios-t">Regístrate </h1>
                </p>
            </div>
    
            <div class="input-contenedor-userName">
                <input type="text" id="name" name="userName" placeholder="Nombre(s)" class="form-control <%= locals.errors && errors.userName ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.userName : null %>" />
                <div id="nameE" hidden>texto</div>
                <% if (locals.errors && errors.userName) { %>
                    <div class="text-danger">
                        <%= errors.userName.msg %> 
                    </div>
                <% } %>
            </div>
            
            <div class="input-contenedor-lastName">
                <input type="text" id="lastname" name="lastName" placeholder="Apellido(s)" class="form-control <%= locals.errors && errors.lastName ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.fullName : null %>"> <i class="fas fa-user"></i>
                <div id="lNameE" hidden>texto</div>
                <% if (locals.errors && errors.lastName) { %>
                    <div class="text-danger">
                        <%= errors.lastName.msg %> 
                    </div>
                <% } %>
            </div>
           
            <div class="input-contenedor-email">
                <input type="text" id="email" name="email" placeholder="Correo Electronico" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.email : null %>"><i class="fas fa-envelope"></i>
                <div id="emailE" hidden>texto</div>
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                            <% } %>
            </div>

            <div class="input-contenedor-user_type">
                <label for="user_type">Tipo de usuario</label>
                <select id="user_type" name="user_type">
                    <option value="">Selecciona una opción</option>
                    <% for(let i = 0; i < tipoUsuario.length; i ++){ %>
                    <option value="<%=tipoUsuario[i].id%>">
                        <%=tipoUsuario[i].utype%>
                    </option>
                <% } %>
                </select>
                <input type="hidden" placeholder="Tipo de usuario" class="form-control <%= locals.errors && errors.user_type ? 'is-invalid' : null %>"> 
                <% if (locals.errors && errors.user_type) { %>
                    <div class="text-danger">
                        <%= errors.user_type.msg %>
                    </div>
                <% } %>
            </div>
            <div id="user_typeE" hidden>texto</div> 
            <div class="input-contenedor-user_pass">
                <input type="password" id="password" name="user_pass" placeholder="Contraseña" class="form-control <%= locals.errors && errors.user_pass ? 'is-invalid' : null %>">
                <div id="passwordE" hidden>texto</div>
                <% if (locals.errors && errors.user_pass) { %>
                    <div class="text-danger">
                        <%= errors.user_pass.msg %>
                    </div>
                <% } %>
            </div>
            
            <div class="input-contenedor-confirm_pass">
                <input type="password" id="cPassword" name="confirm_pass" placeholder="Confirmar Contraseña" class="form-control <%= locals.errors && errors.confirm_pass ? 'is-invalid' : null %>"> <i class="fas fa-key"></i>
                <div id="cPasswordE"hidden >texto</div>
                <% if (locals.errors && errors.confirm_pass) { %>
                    <div class="text-danger">
                        <%= errors.confirm_pass.msg %>
                    </div>
                <% } %>
            </div>
            
            <div class="input-contenedor-address">
                <input type="text" id="address" name="address" placeholder="Dirección" class="form-control <%= locals.errors && errors.address ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.address : null %>"> <i class="fas fa-map-marked-alt"></i>
                <div id="addressE" hidden>texto</div> 
                <% if (locals.errors && errors.address) { %>
                    <div class="text-danger">
                        <%= errors.address.msg %>
                    </div>
                <% } %>
            </div>
            
            <div class="input-contenedor">
                 <label for="imagen" class="form-label">Sube tu imagen de usuario </label>
                            <input type="file" name="image" id="file" class="form-control <%= locals.errors && errors.image ? 'is-invalid' : null %>"> </i>
                            <div class="text-danger"></div>
                            <% if (locals.errors && errors.image) { %>
                                <div class="text-danger">
                                    <%= errors.image.msg %>
                                    
                                </div>
                            <% } %>
                        </div>
            </div>

    
            <div>
                <button class="boton" type="submit">
                    Registrar usuario
                </button>
            </div>
    </form>
    
  </div>

</body>

<br>

  <%- include('./partials/footer') %>


<%- include('./partials/menu') %>

</body>
<script src="/js/registerUserFrontVal.js"></script>
</html>
