<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
   
    <title>NicSalts</title>
    <link rel="stylesheet" href="/css/vapeo.css">
    <%- include('./partials/script-header') %>
    

</head>
<body>
     <%- include('./partials/header') %>
<%- include('header') -%>

    


    <article>
        <h2></h2>
        <p.sale>
        </p.sale>
    </article>

    <blockquote cite="https://www.dshs.state.tx.us/tobacco/vaping/%C2%BFQue-es-el-Vapeo-.doc">

        <article>
            <br>
            <br>
            <h2>¿Qué son las sales de nicotina?</h2>
            <br>
            <br>
            <img src="/img/sales/sales.png" alt="sales" class="center">
            <br>
            <br>
            <p.sales>En esencia, las sales de nicotina están compuestas por la misma nicotina exacta que se encuentra en su estado natural dentro de la hoja de tabaco. Si esta forma de nicotina se agrega al líquido que evaporamos, tendríamos que vapearlo a temperaturas extremadamente altas para que la solución de nicotina sea efectiva, y aún así no sería tan fácil de absorber (biodisponible) como la nicotina de base libre. Del mismo modo, al igual que la base libre, las sales también necesitan algunas modificaciones. La clave aquí es el ácido benzoico.
            </p.sales>
        </article>
        <br>
        <br>
        <article>
            <h2>Una lección rápida de química</h2>
            <br>
            <br>
            <p.sale>No trataremos de agobiarte con demasiada jerga, así que mantengamos lo básico: pH y alcalinidad. La nicotina de base libre tiene un pH más alto, lo que conduce a un aumento de la alcalinidad. Este aumento dramático en alcalinas causa un golpe de garganta más severo, causando que las personas tomen vapores en cantidades más pequeñas de lo que puedan necesitar.
                <br>
                <br>
                El ácido benzoico tiene el efecto opuesto. Disminuye los niveles de pH de la nicotina, reduciendo la alcalinidad en el proceso. El resultado final es una experiencia de vapeo mucho más suave.
                <br>
                <br>
                Además, esto permite que la mezcla se vaporice a temperaturas más bajas en bolígrafos de vapor baratos y cig-a-likes con mayores concentraciones de nicotina. Por ejemplo: los jugos de vape mezclados con sales de nicotina, aunque menos potentes, pueden alcanzar niveles de nicotina de hasta 50 mg. Intente vapear algo así en su tanque / mezcla PG tradicional sub-ohm y avísenos cuando sus pulmones dejen de quemarse.
            </p.sale>
        </article>
        <br>
        <br>
        <article>
            <h2>Ventajas y desventajas</h2>
            <br>
            <br>
            <p.sale>Las sales de nicotina tienen pros y contras. Sin embargo, lo que podría verse como una desventaja para algunos, de hecho, será una ventaja para otros. Vamos a explicar a qué nos referimos.
                <br>
                <br>
                <b>Ventajas</b>
                <br>
                <br>
                Satisfacción: Muchos vapers que prueban líquidos convencionales por primera vez a menudo descubren que no obtienen la misma satisfacción o “golpe” de la nicotina. Además, puede que no sea suficiente para satisfacer sus antojos.
                <br>
                <br>
                Un golpe de nicotina más suave: Un gran inconveniente para muchos “aspirantes” a los vapers es que los líquidos electrónicos convencionales son demasiado duros y la culpa es de la nicotina. Las compañías de cigarrillos usan anestésicos como mentol o eugenol para encubrir y enmascarar la dureza. Los jugos de Vape no, por lo que la sensación más suave de los líquidos de sal de nicotina hace una gran diferencia.
                <br>
                <br>
                Menos impacto en el sabor: aquellos de nosotros que abandonamos el hábito y preferimos los líquidos e-nicotine pueden notar una marcada diferencia en el sabor, a pesar de fumar el mismo producto. Esto se debe a que la nicotina de base libre afecta el sabor general del líquido. Las sales tienen un efecto casi nulo en esta área, lo que lleva a una experiencia de vapeo más rica, sabrosa y placentera.
                <br>
                <br>
                Más barato: Reconozcámoslo: un tanque de sub-ohmios eficiente o caja mod es significativamente más caro que un pequeño bolígrafo de vapor, así como también muchos líquidos e-premium que van en el bolígrafo. Si lo único que necesita es una experiencia de vapeo económica y discreta que le ayude a obtener la cantidad justa de nicotina, entonces las sales son para usted.
                <br>
                <br>
                <b>Desventajas</b>
                <br>
                <br>
                Demasiado para algunos: mientras que los fumadores empedernidos necesitan una gran dosis de nicotina, los fumadores más livianos pueden consumir entre 3 y 12 mg de nicotina. Este también es el punto ideal para los dispositivos de sub-ohmios. Como resultado, las personas pueden usar e-jugos livianos de alto VG en su tanque sub-ohm y sentirse completamente satisfechos con la experiencia que obtienen.
                <br>
                <br>
                Menos opciones: las sales de nicotina son limitantes porque generalmente tendrá que apegarse a las plumas de vapeo. Los mods más tradicionales y los tanques sub-ohm permiten combinaciones casi infinitas de tanque / mod. Cada par permite su propia experiencia única de producción y sabor en la nube. Sin mencionar las combinaciones de bobina y los estilos de los atomizadores reconstruibles más avanzados, ya se entiende.
                <br>
                <br>
                Factor de diversión inferior: una excelente manera de describir los zumos de base libre en comparación con las sales de nicotina es “la moda sobre la función” (de nuevo, piense en Ferrari frente a autos inteligentes). Las sales de nicotina son la elección perfecta si necesita una fuerte dosis de nicotina y prefiere una experiencia más similar a la de un cigarrillo.
            </p.sale>
        </article>
        <br>
        <br>
        <article>
            <h2>¿Son las sales de nicotina adecuadas para usted?</h2>
            <br>
            <br>
            <p.sale>Aquí es donde las cosas se ponen difíciles, y solo usted sabrá la respuesta. Entonces, cuando esté decidiendo qué hacer, hágase las siguientes preguntas:
                <br>
                <br>
                • ¿Soy un gran fumador (uno o más paquetes al día)? 
                <br>
                <br>
                • ¿Quiero una experiencia de fumar más genuina, o estoy buscando algo nuevo? 
                <br>
                <br>
                • ¿Voy a querer vapor suave y nicotina alta? 
                <br>
                <br>
                • ¿Necesito un “golpe” de nicotina más fuerte o más sutil (zumbido)? 
                <br>
                <br>
                • ¿Es importante la discreción o son las nubes masivas lo mío? 
                <br>
                <br>
                • ¿Cuánto dinero quiero inicialmente gastar? 
                <br>
                <br>
                Estas son solo pautas. Comenzar con un dispositivo pequeño y usar sales de nicotina es un buen enfoque, y siempre puede cambiar a configuraciones de sub-ohmios de alta VG / baja nicotina a medida que se desconecta y comienza a ramificarse. De hecho, sal o nada de sal, es mejor comprender lo básico con un vaporizador simple antes de navegar a través de los diferentes tipos de bobinas, tanques y configuraciones.
                <br>
                <br>
                La apuesta más segura es preguntarle a un dueño experimentado de la tienda de vape. Recuerde, él o ella estuvo una vez en el mismo bote, un fumador buscando una mejor salida.
             
            
            </p.sale>
        </article>






        <%- include('./partials/footer') %>
        <%- include('./partials/menu') %>  
    </body>
    </html>        