<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
   
    <title>Vapeo</title>
    <link rel="stylesheet" href="/css/vapeo.css">
    <%- include('./partials/script-header') %>


<body>
    <%- include('./partials/header') %>


<form method="POST" action="/user/profile" class="formulario">
<div class "container" style="margin-top: 48px;">
    <div class="row">
        <div class="col-md-3">
            <h2>Hi <%= user.nombre %></h2>
            <img src="/img/usuarios/<%= user.imagenes %>" width="100">
            <br>
            <br>
            <div class="alert alert-success"><%= user.correoElectronico %></div>
            </div>
        </div>
    </div>
</div>
<!-- //Container -->




<%- include('./partials/footer') %>
<%- include('./partials/menu') %>
</body>
</html>