<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
   
    <title>Vapeo</title>
    <link rel="stylesheet" href="/css/vapeo.css">
    <%- include('./partials/script-header') %>

</head>
<body>
         <%- include('./partials/header') %>
<%- include('header') -%>

    

    <article>
        <h2></h2>
        <p>
        </p>
    </article>

    <blockquote cite="https://www.dshs.state.tx.us/tobacco/vaping/%C2%BFQue-es-el-Vapeo-.doc">
        <br>
<br>
        <article>
            <h2>Que es el vapeo</h2>
            <p-vapeo>El vapeo imita el acto de fumar. Los vapeadores que funcionan con pilas crean un aerosol parecido al vapor de agua, pero que contiene nicotina, saborizantes y más de 30 sustancias químicas. El aerosol se inhala y llega a los pulmones, desde donde la nicotina y los químicos pasan al torrente sanguíneo.
                Los primeros vapeadores se parecían a los cigarrillos. Los modelos más recientes parecen una memoria USB o un pequeño contendor conocido como “pod”. </p>
        </article>
        <br>
        <br>        
        <img src="/img/vapeo/evolucion.png" alt="evolucion" class="center">
        <br>
        <br>
        <article>
            <p.vapeo>
                Los vapeadores vienen en muchas formas y tamaños, pero tienen los mismos componentes básicos: una batería, un sensor y un atomizador o cartucho de sabor. El “e-líquido” se calienta rápidamente y se convierte en un aerosol que puede ser inhalado hasta los pulmones.   
            </p>
        </article>
        <br>
        <br>
        <img src="/img/vapeo/anatomi.png" alt="anatomia" class="center">
        <br>
        <br>
        <article>
            <p.vapeo>
                Fuente: Centros para el Control y la Prevención de Enfermedades. visual de productos de cigarrillos electrónicos o vapeo (en inglés)<br>
<br>
                ADVERTENCIA: El líquido de nicotina que se utiliza en los vapeadores es tóxico cuando se ingiere o se absorbe a través de la piel o los ojos. La exposición a este líquido puede causar enrojecimiento del área en contacto, náuseas y vómitos. Los vapeadores y sus componentes no son seguros para los niños y no deben utilizarse en su presencia.<br>
<br>               
                ADVERTENCIA: En promedio, el contenido de nicotina de un vapeador tipo pod equivale al de 20 cigarrillos. Inhalar un alto contenido de nicotina puede causar ataques y convulsiones. Se ha informado de casos de jóvenes que sufrieron convulsiones después de vapear.<br>
<br>
                ADVERTENCIA: Los vapeadores pueden explotar cuando su batería se sobrecalienta.<br>
            </p>
        </article>
<br>
<br>
        <article>
            <h2>Terminología del vapeo</h2>
            <br>
            <p.vapeo>El vapeo tiene su propio vocabulario.</p>
        </article>
        <br>
        <br>
        <article>
            <h2>Los vapeadores y sus componentes</h2>
            <br>
            <p.vapeo> • Cigarrillos electrónicos, e-cigarrillos, e-cigs o eGo<br>
                • E-hookahs o plumas de hookah<br>
                • JUULs: nombre basado en el dispositivo pod cerrado más vendido, que parece una memoria USB, en contraste con el cigarrillo tradicional o el dispositivo tipo pluma.<br>
                • Mods: son dispositivos más grandes y abiertos, recargables y que producen más vapor<br>
                • Vaporizadores personales (PV)<br>
                • Vapeadores, plumas o varillas de vapeo<br>
                <br>
            Algunos vapeadores se conocen como ENDS, siglas de electronic nicotine delivery systems (sistemas electrónicos que dispensan nicotina).<br>
            El líquido que produce el vapor viene en contenedor tipo pod o cartucho que se conoce como:<br>
            <br>
                • E-jugo o e-líquido<br>
                • Jugo o jugo de humo<br>
            </p>
        </article>
        <br>
        <br>
        <article>
            <h2>Terminología del vapeo</h2>
            <p.vapeo>    • Juulear: Usar un vapeador de la marca JUUL u otro dispositivo similar pequeño<br>
                • Gotear: Aumentar la cantidad de vapor y el sabor vertiendo gota a gota el e-jugo directamente en el dispositivo.<br>
                <br>
            Una persona que usa cualquier tipo de dispositivo para vapear se conoce como vapeador.<br>
            </p>
        </article>
        <br>
        <br>
        <article>
            <h2>Los mitos sobre el vapeo</h2>
            <p.vapeo>La Administración de Alimentos y Drogas de EE. UU no ha encontrado ningún cigarrillo electrónico que sea seguro y efectivo como ayuda para dejar de fumar. Un estudio1 reveló que el vapeo era más efectivo que otras terapias de reemplazo de nicotina (como los parches de nicotina) para ayudar a dejar los cigarrillos. Sin embargo, la mayoría de las personas seguían vapeando después de dejar de fumar, por lo que seguían inhalando nicotina y otros productos químicos peligrosos. El estudio también notó que los adolescentes que vapean son más propensos a empezar a fumar.<br>
            <br>1 Hajek P, Phillips-Waller A, Przulj D, et al. A randomized trial of E-cigarettes versus nicotine-replacement therapy. N Engl J Med. 2019;380:629–37.
            </p>
            <br>
<br>
            <img src="/img/vapeo/quimicos.png" alt="quimicos" class="center">
        </article>
<br>
<br>
        <article>
            <h2>Vapear es más seguro que fumar.</h2>
            <p.vapeo>Los cigarrillos contienen sustancias venenosas, metales tóxicos y carcinógenos que entran en el cuerpo con cada calada. Las personas que vapean también respiran sustancias químicas peligrosas, como la acetona, que se utiliza como solvente. La acetona puede irritar la piel y los ojos al entrar en contacto con ellos. Otras sustancias químicas de los vapeadores pueden causar cáncer con el tiempo.
            </p>
        </article>
<br>
<br>
        <article>
        <h2>El vapeo produce un vapor de agua inofensivo.</h2>
        <p.vapeo>Aunque suele emplearse el término "vapor", los vapeadores no producen vapor de agua. Vapear produce un aerosol. A diferencia del vapor de agua, este aerosol contiene partículas ultrafinas que llegan hasta los pulmones. 
        </p>
        </article>
        <br>
<br>
        <article>
        <h2>El vapeo no produce humo de segunda mano.</h2>
        <p.vapeo>Inhalar el humo de segunda mano es un riesgo para la salud de las personas que están cerca de los fumadores de cigarrillos y de los vapeadores. Además, el humo de tercera mano que se asienta en la ropa y los muebles huele mal y puede ser peligroso para las personas con problemas respiratorios. El vapeo no produce los mismos vapores olorosos que los cigarrillos, pero el vapor de segunda mano contiene sustancias químicas y compuestos que contaminan el aire en interiores. Aunque no tengan olor, las partículas de tercera mano se quedan en las superficies, y el polvo resultante puede ser inhalado y llegar a los pulmones, o absorbido a través de la piel.
        </p>
        </article>
        <br>
        <br>
        <article>
        <h2>Dejar de vapear es fácil.</h2>
        <p.vapeo>Los vapeadores tipo pod suministran nicotina adictiva equivalente a 20 cigarrillos. El vapeo entrena al cerebro a esperar más nicotina, lo que provoca el deseo de vapear aún más. El cerebro de los adolescentes es especialmente susceptible a los efectos de la nicotina. Esto hace que sea más difícil para ellos dejar de vapear, y aumenta la posibilidad de que los adolescentes se conviertan también en fumadores. Vea más información sobre cómo ayudar a su hijo adolescente a dejar de vapear cuando esté listo.
            <br>
            <br>
            Última actualización 11 de febrero de 2021
        </p>
        </article>



       

    </blockquote>

    
    





    <%- include('./partials/footer') %>
    <%- include('./partials/menu') %>    
</body>
</html>